@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

& .slick-list {
  margin: 0 -7px 0 0;
  & .slick-slide > div {
    padding: 0 14px 0 0;
  }
}

.slick-track > div:last-child > div {
  padding: 0;
}
